/* line 49, ../sass/custom.scss */
html, body {
  height: 100%;
}

/* line 54, ../sass/custom.scss */
#wrap {
  min-height: 100%;
  margin: 0 auto -150px;
}

/* line 60, ../sass/custom.scss */
.footer, .push {
  clear: both;
  height: 150px;
}

/* line 67, ../sass/custom.scss */
::selection {
  background: #1e836d;
  color: #fff;
  text-shadow: none;
}

/* line 73, ../sass/custom.scss */
.row_wide {
  max-width: 100%;
}

/* line 77, ../sass/custom.scss */
.row_wide2 {
  max-width: 80em;
}

/* line 81, ../sass/custom.scss */
.row_wide_with_padding {
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 87, ../sass/custom.scss */
.row_wide_custom {
  max-width: 1280px;
}

/* line 91, ../sass/custom.scss */
.row_with_padding {
  padding: 5px;
}

/* line 95, ../sass/custom.scss */
.text-center {
  text-align: center;
}

/* line 99, ../sass/custom.scss */
.text-right {
  text-align: right;
}

/* line 103, ../sass/custom.scss */
.white {
  color: white;
}

/* line 107, ../sass/custom.scss */
.green {
  color: #27ad90;
}

/* line 111, ../sass/custom.scss */
.column_no_padding {
  padding-left: 0;
  padding-right: 0;
  background: #333333;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

/* line 123, ../sass/custom.scss */
.column_left_border {
  border-left: 1px solid #e5e5e5;
}

/* line 128, ../sass/custom.scss */
ul.errorlist > li {
  list-style: none;
  color: #ff7752;
}

/* line 133, ../sass/custom.scss */
.button {
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

/* line 139, ../sass/custom.scss */
.custom_button {
  background: #27ad90;
  border-color: #1e836d;
}
/* line 142, ../sass/custom.scss */
.custom_button:hover {
  background: #1e836d;
}

/* line 147, ../sass/custom.scss */
.gmail_button {
  background: #d54937;
  border-color: #b33626;
}
/* line 150, ../sass/custom.scss */
.gmail_button:hover {
  background: #b33626;
}

/* line 155, ../sass/custom.scss */
textarea {
  min-height: 150px;
}

/* line 159, ../sass/custom.scss */
.muted {
  color: #999999;
}

/* line 163, ../sass/custom.scss */
.font_13 {
  font-size: emCalc(13);
  padding-top: 1em;
}

/* line 168, ../sass/custom.scss */
.clearfix {
  clear: both;
}

/* line 172, ../sass/custom.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
  content: "";
}

/* line 183, ../sass/custom.scss */
.landing_page {
  padding-top: 5%;
}

/* line 187, ../sass/custom.scss */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #27ad90;
}

/* line 197, ../sass/custom.scss */
.row .mail_side_nav_link {
  border-bottom: 1px solid #e5e5e5;
  margin-right: 0;
  padding-left: 5%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  height: 100px;
}
/* line 207, ../sass/custom.scss */
.row .mail_side_nav_link ul.inline-list {
  margin-bottom: 0;
}
/* line 212, ../sass/custom.scss */
.row .mail_side_nav_link ul.link_list li.link_text {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: emCalc(14);
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 221, ../sass/custom.scss */
.row .mail_side_nav_link ul.no-bullet {
  margin-left: 0.5em;
}
/* line 225, ../sass/custom.scss */
.row .mail_side_nav_link h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
/* line 229, ../sass/custom.scss */
.row .mail_side_nav_link h1 i {
  color: black;
}
/* line 234, ../sass/custom.scss */
.row .mail_side_nav_link small {
  font-size: 65%;
  color: #999999;
  text-transform: uppercase;
}
/* line 240, ../sass/custom.scss */
.row .mail_side_nav_link:hover {
  background: #222222;
  -moz-box-shadow: inset 25px 0px 0px -5px #27ad90;
  -webkit-box-shadow: inset 25px 0px 0px -5px #27ad90;
  box-shadow: inset 25px 0px 0px -5px #27ad90;
}
/* line 243, ../sass/custom.scss */
.row .mail_side_nav_link:hover i {
  color: #27ad90;
}

/* line 249, ../sass/custom.scss */
.row .active {
  background: #27ad90;
  cursor: default;
  -moz-box-shadow: inset 25px 0px 0px -5px #145a4b;
  -webkit-box-shadow: inset 25px 0px 0px -5px #145a4b;
  box-shadow: inset 25px 0px 0px -5px #145a4b;
}
/* line 257, ../sass/custom.scss */
.row .active ul.link_list li.link_text {
  color: black;
}
/* line 262, ../sass/custom.scss */
.row .active h1 {
  color: white;
}
/* line 264, ../sass/custom.scss */
.row .active h1 i {
  color: white;
}
/* line 269, ../sass/custom.scss */
.row .active small {
  color: #333333;
}
/* line 273, ../sass/custom.scss */
.row .active:hover {
  background: #27ad90;
  color: black;
  -moz-box-shadow: inset 25px 0px 0px -5px #145a4b;
  -webkit-box-shadow: inset 25px 0px 0px -5px #145a4b;
  box-shadow: inset 25px 0px 0px -5px #145a4b;
}
/* line 277, ../sass/custom.scss */
.row .active:hover i {
  color: white;
}
/* line 281, ../sass/custom.scss */
.row .active:hover small {
  color: #333333;
}

/* line 292, ../sass/custom.scss */
.main_content .people_list .no-bullet {
  margin: 0;
}
/* line 296, ../sass/custom.scss */
.main_content .people_list .people_link {
  height: 100px;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
/* line 302, ../sass/custom.scss */
.main_content .people_list .people_link .selected_person {
  position: absolute;
  right: 0;
  top: 33%;
  margin-top: auto;
  margin-bottom: auto;
}
/* line 312, ../sass/custom.scss */
.main_content .people_list .people_link:hover {
  background: whitesmoke;
  cursor: pointer;
}
/* line 319, ../sass/custom.scss */
.main_content .people_list .people_link.selected:hover {
  background: white;
  cursor: default;
}
/* line 326, ../sass/custom.scss */
.main_content .people_list ul.link_list {
  margin-bottom: 0;
  padding: 22px 0px 0px 10px;
}
/* line 330, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic {
  position: relative;
}
/* line 332, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic img {
  width: 50;
}
/* line 336, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic .img_rounded {
  border-radius: 50%;
  border: 3px solid #cccccc;
}
/* line 341, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic .people_pic_unread {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 50%;
  border: 3px solid #27ad90;
}
/* line 354, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic .people_pic_unread .unread_msg_number {
  line-height: 250%;
  margin: 0;
}
/* line 360, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic .people_category {
  position: absolute;
  right: -2px;
  bottom: -6px;
  z-index: 50;
}
/* line 366, ../sass/custom.scss */
.main_content .people_list ul.link_list .people_pic .people_category i {
  font-size: emCalc(18);
  color: #27ad90;
  text-shadow: 0px 0px 2px black;
  -webkit-text-stroke: 1px white;
}
/* line 377, ../sass/custom.scss */
.main_content .people_list ul.link_list .link_text h4 {
  font-size: emCalc(16);
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 250%;
}
/* line 387, ../sass/custom.scss */
.main_content .content_pane {
  border-left: 1px solid #cccccc;
  font-size: emCalc(14);
}
/* line 391, ../sass/custom.scss */
.main_content .content_pane .received_msg, .main_content .content_pane .sent_msg {
  border: 2px solid #cccccc;
}
/* line 394, ../sass/custom.scss */
.main_content .content_pane .received_msg .msg_text, .main_content .content_pane .sent_msg .msg_text {
  padding: 10px;
  line-height: 1.4em;
}
/* line 401, ../sass/custom.scss */
.main_content .content_pane .received_msg .action_btns div, .main_content .content_pane .sent_msg .action_btns div {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  font-size: emCalc(14);
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}
/* line 408, ../sass/custom.scss */
.main_content .content_pane .received_msg .action_btns div i, .main_content .content_pane .sent_msg .action_btns div i {
  font-size: emCalc(16);
  color: #27ad90;
}
/* line 413, ../sass/custom.scss */
.main_content .content_pane .received_msg .action_btns div:last-child, .main_content .content_pane .sent_msg .action_btns div:last-child {
  border-right: none;
}
/* line 417, ../sass/custom.scss */
.main_content .content_pane .received_msg .action_btns div:hover, .main_content .content_pane .sent_msg .action_btns div:hover {
  background: whitesmoke;
}
/* line 419, ../sass/custom.scss */
.main_content .content_pane .received_msg .action_btns div:hover i, .main_content .content_pane .sent_msg .action_btns div:hover i {
  color: #d54937;
}
/* line 427, ../sass/custom.scss */
.main_content .content_pane .received_msg {
  border: 2px solid #27ad90;
}
