{% extends "base_app.html" %}

{% block main_content %}

<div class="large-8 large-centered columns text-center landing_page">
    <h2 class="no_margin">Your most important contacts</h2>
    <h4 class="rule">Go ahead, categorize them!</h4>
    <table class="categorize_contacts">
        <thead>
            <tr>
                <th>Your Contact</th>
                <th>Family?</th>
                <th>Friend?</th>
                <th>Work?</th>
                <th>Others?</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
<tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td width="50%">Contact Name is very very </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio checked"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="large button expand custom_button">I'm done! Take me to my awesome Inbox!</a>    
</div>
{% endblock main_content %}