{% extends "base_app.html" %}

{% block left_content %}
    {% include "side_nav.html" %}

{% endblock left_content %}

{% block right_content %}
     <div class="row row_wide">
        
        {% include "people_list.html" %}
        
        <div class="medium-7 large-9 columns content_pane">
            {% if provider_id %}
            <form enctype="multipart/form-data" method='post' action="" >
            {% csrf_token %}
                <div class="compose_msg">
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                    <span class="prefix">To</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    {{form.to_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                    <span class="prefix">cc</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    {{form.cc_myself}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                    <span class="prefix">Sub</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    {{form.subject}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            {{form.message}}
                        </div>
                    </div>
                    <div class="row row_with_padding attach_send">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row">
                                <div class="medium-6 large-6 columns">
                                    <div style="height: 0px; overflow: hidden;">
                                    {{form.upload}}
                                    </div>
                                    <button type="button" class="button expand gmail_button attach_file">Attach File</button>
                                </div>
                                <div class="medium-6 large-6 columns">
                                    <input type="submit" class="button expand custom_button" value="Send"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
                <h3 class="muted text-center compose_select">Select the person you want to email on the left</h3>
            {% endif %}
        </div>
    </div>

{% endblock right_content %}

{% block extra_javascript %}
<script>
    $(document).ready(function(){
        $(".attach_file").on("click", function(){
            $("#id_upload"). click();
        });
    });
</script>

{% endblock extra_javascript %}
