{% extends "base_app.html" %}

{% block left_content %}
    {% include "side_nav.html" %}

{% endblock left_content %}

{% block right_content %}
    <div class="row row_wide">
        <div class="medium-5 large-3 columns people_list">
            <div class="row">
                <div class="medium-12 large-12 columns">
                    <ul class="no-bullet">
                        {% for contact in contacts %}
                        <li id="person_name">
                            <a href="{% url 'mails:compose' contact.provider_id %}">
                                <div class="row people_link selected">
                                    <div class="large-12 columns">
                                        <ul class="inline-list link_list">
                                            <li class="pic">
                                                <div class="people_pic">
                                                    <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                    <div class="people_category">
                                                        <i class="fi-heart"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="link_text">
                                                {{ contact.display_name }}
                                            </li>
                                        </ul>
                                    </div>
                                <div class="arrow-left selected_person"></div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <!--<li id="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div class="people_category">
                                                    <i class="fi-star"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Pavan Mishra
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div class="people_category">
                                                    <i class="fi-shopping-bag"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>-->


                    </ul>
                </div>
            </div>
        </div>

        <div class="medium-7 large-9 columns content_pane">
            <form enctype="multipart/form-data" method="post" action="." >
                <div class="compose_msg">
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                    <span class="prefix">To</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    {{form.to_message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                    <span class="prefix">Subject</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    {{form.subject}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row collapse">
                                <div class="small-3 large-2 columns">
                                    <span class="prefix">cc</span>
                                </div>
                                <div class="small-9 large-10 columns">
                                    {{form.cc_myself}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_with_padding">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            {{form.message}}
                        </div>
                    </div>
                    <div class="row row_with_padding attach_send">
                        <div class="small-9 small-centered large-6 large-centered columns">
                            <div class="row">
                                <div class="medium-6 large-6 columns">
                                    {{form.upload}}                            
                                </div>
                                <div class="medium-6 large-6 columns">
                                    <input type="submit" class="button expand custom_button" value="Send"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock right_content %}

{% block extra_javascript %}


{% endblock extra_javascript %}
