{% extends "base_app.html" %}

{% block left_content %}
{% include "side_nav.html" %}

{% endblock left_content %}

{% block right_content %}
    <div class="row row_wide">
        <div class="medium-5 large-3 columns people_list">
            <div class="row">
                <div class="medium-12 large-12 columns">
                    <ul class="no-bullet">
                        <li class="person_name">
                            <div class="row people_link selected">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div class="people_pic_unread">
                                                    <p class="unread_msg_number">2</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Abhishek Singh is a very very long long name
                                        </li>
                                    </ul>
                                </div>
                                <div class="arrow-left selected_person"></div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div class="people_pic_unread">
                                                    <p class="unread_msg_number">1</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Pavan Mishra
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="person_name">
                            <div class="row people_link">
                                <div class="large-12 columns">
                                    <ul class="inline-list link_list">
                                        <li class="pic">
                                            <div class="people_pic">
                                                <img src="{{ STATIC_URL }}images/abhishek_singh.jpg" width="50" class="img_rounded">
                                                <div>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li class="link_text">
                                            Manish Kansara
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        
                        
                        
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="medium-7 large-9 columns content_pane">
            <div class="row row_with_padding">
                <div class="medium-6 large-6 columns">
                    <div class="row received_msg">
                        <div class="medium-12 large-12 columns msg_text">
                            Lorem Ipsum Dolor Somet. This is some message text which i have received
                        </div>
                        <div class="medium-12 large-12 columns">
                            <div class="row action_btns">
                                <div class="medium-4 large-4 columns text-center">
                                    <i class="fi-arrow-left"></i> Reply
                                </div>
                                <div class="medium-4 large-4 columns text-center">
                                    <i class="fi-arrow-left"></i><i class="fi-arrow-left"></i> Reply All
                                </div>
                                <div class="medium-4 large-4 columns text-center">
                                    <i class="fi-arrow-right"></i> Forward
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 large-12 columns date_time">
                            <small class="muted">Received 24 July 2013 6:45 pm</small>
                        </div>
                    </div>
                </div>
                <div class="medium-6 large-6 columns">
                    
                </div>
            </div>
            
            <div class="row row_with_padding">
                <div class="medium-6 large-6 columns">
                    
                </div>
                <div class="medium-6 large-6 columns">
                    <div class="row sent_msg">
                        <div class="medium-12 large-12 columns msg_text">
                            Lorem Ipsum Dolor Somet. This is some message text which i have sent to the receiver. It is very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very
                             very very very very very very very very very very very very very very very very very very very very very very very very very
                              very very very very very very very very very very very very very very very long.
                        </div>
                        <div class="medium-12 large-12 columns">
                            <div class="row action_btns">
                                <div class="medium-4 large-4 columns text-center">
                                    <i class="fi-arrow-left"></i> Reply
                                </div>
                                <div class="medium-4 large-4 columns text-center">
                                    <i class="fi-arrow-left"></i><i class="fi-arrow-left"></i> Reply All
                                </div>
                                <div class="medium-4 large-4 columns text-center">
                                    <i class="fi-arrow-right"></i> Forward
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 large-12 columns date_time text-right">
                            <small class="muted">Sent 23 July 2013 5:45 pm</small>
                        </div>
                    </div>
                </div>
                
            </div>
            
           
            
            
            
            
            
        </div> 
        
    </div>

{% endblock right_content %}

{% block extra_javascript %}


{% endblock extra_javascript %}
