<ul class="no-bullet">
        <li id="compose_mail">
            <div class="row mail_side_nav_link {% if name_style == "compose" %}active{% endif %}" >
                <a href="{% url 'mails:compose' %}">
                <div class="large-12 columns">
                    <ul class="no-bullet link_list">
                        <li><h1><i class="fi-pencil"></i></h1></li>
                        <li class="link_text">
                            Compose
                        </li>
                    </ul>
                </div>
                </a>
            </div>
        </li>
        <li id="family">
            <div class="row mail_side_nav_link {% if name_style == "inbox" and inbox_tab == 1 %}active{% endif %}">
                <a href="{% url 'mails:inbox' %}">
                    <div class="large-12 columns">
                        <ul class="no-bullet link_list">
                            <li><h1><i class="fi-heart"></i></h1></li>
                            <li class="link_text">
                                (2) Family
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li id="friends">
            <div class="row mail_side_nav_link {% if name_style == "inbox" and inbox_tab == 2 %}active{% endif %}">
                <a href="{% url 'mails:inbox' %}?type=friends">
                    <div class="large-12 columns">
                        <ul class="no-bullet link_list">
                            <li><h1><i class="fi-star"></i></h1></li>
                            <li class="link_text">
                                (1) Friends
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li id="work">
            <div class="row mail_side_nav_link {% if name_style == "inbox" and inbox_tab == 3 %}active{% endif %}">
                <a href="{% url 'mails:inbox' %}?type=work">
                    <div class="large-12 columns">
                        <ul class="no-bullet link_list">
                            <li><h1><i class="fi-shopping-bag"></i></h1></li>
                            <li class="link_text">
                                Work
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li id="others">
            <div class="row mail_side_nav_link {% if name_style == "inbox" and inbox_tab == 4 %}active{% endif %}">
                <a href="{% url 'mails:inbox' %}?type=others">
                    <div class="large-12 columns">
                        <ul class="no-bullet link_list">
                            <li><h1><i class="fi-torsos-all"></i></h1></li>
                            <li class="link_text">
                                Others
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </li>
        <li id="attachments">
            <div class="row mail_side_nav_link {% if name_style == "attachments" %}active{% endif %}">
                <a href="{% url 'mails:attachments'%}">
                <div class="large-12 columns">
                    <ul class="no-bullet link_list">
                        <li><h1><i class="fi-paperclip"></i></h1></li>
                        <li class="link_text">
                            Attachments
                        </li>
                    </ul>
                </div>
                </a>
            </div>
        </li>
    </ul>
